<!-- <div class="well well-small">
  <div class="row-fluid">
    <div id="featured" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            <ng-container *ngFor="let newProduct of newProducts">
              <app-selected-product-item [newProduct]="newProduct"></app-selected-product-item>
            </ng-container>
          </ul>
        </div>
      </div>
      <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
  </div>
</div> -->

<ul class="selectedProducts-container">
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
</ul>
