<ul class="selectedProducts-container">
  <ng-container *ngFor="let newProduct of newProducts">
    <app-selected-product-item
      [newProduct]="newProduct"
    ></app-selected-product-item>
  </ng-container>
</ul>

<!-- <ul class="selectedProducts-container">
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
  <app-selected-product-item></app-selected-product-item>
</ul> -->
