<!-- <div id="mainBody">
  <div class="container">
    <div class="row">
      <app-sidecar> </app-sidecar>
      <div class="searched-products-container">
        <ng-container
          *ngIf="productState$ | async as state"
          [ngSwitch]="state.dataState"
        >
          <ng-container *ngSwitchCase="ProductStateEnum.LOADING">
            <h1>data is LOADING .....................................</h1>
          </ng-container>

          <ng-container *ngSwitchCase="ProductStateEnum.LOADED">
            <app-searched-products-list-header
              *ngIf="state.pageInfo"
              [productsNumber]="state.pageInfo.totalElements"
              [minAvailablePrice]="minAvailablePrice"
              [maxAvailablePrice]="maxAvailablePrice"
              (sortChanged)="onSortChanged($event, state.products)
              (priceFilterChanged)="onPriceFilterChanged($event)"
            ></app-searched-products-list-header>
            <app-products-list [products]="sortedProducts.length ? sortedProducts : state.products"></app-products-list>

            <ng-container [ngSwitch]="state.fetchMethode">
              <ng-container *ngSwitchCase="fetchMethode.SEARCH_BY_KEYWORD">
                <app-paggination
                  [pageInfo]="state.pageInfo"
                  [fetchMethode]="state.fetchMethode"
                  [payload]="state.products[0].name"
                >
                </app-paggination>
              </ng-container>
              <ng-container *ngSwitchCase="fetchMethode.SEARCH_BY_CATEGORY">
                <app-paggination
                  [pageInfo]="state.pageInfo"
                  [fetchMethode]="state.fetchMethode"
                  [payload]="state.products[0].category"
                >
                </app-paggination>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->

<div>
  <div class="container">
    <div class="row">
      <app-sidecar> </app-sidecar>
      <div class="searched-products-container">
        <app-searched-products-list-header
          [minAvailablePrice]="220"
          [maxAvailablePrice]="1300"
        ></app-searched-products-list-header>
        <app-products-list></app-products-list>
        <app-paggination> </app-paggination>
      </div>
    </div>
  </div>
</div>
