<li class="product-item">
  <div>
    <img src="assets/img/new.png" alt="new sticker" class="new-sticker" />
    <a (click)="onSelectedProduct()"
      ><img
        src="{{ newProduct.productImagesBas64[0] }}"
        alt="product img"
        class="product-image"
    /></a>
    <div class="caption">
      <h5>{{ newProduct.name }}</h5>
      <div>
        <a class="btn btn-wood" href="product_details.html">VIEW</a>
        <span>
          {{ newProduct.productPrice.symbol
          }}{{ newProduct.productPrice.price }}
        </span>
      </div>
    </div>
  </div>
</li>

<!-- <li class="product-item">
  <div>
    <img src="assets/img/new.png" alt="new sticker" class="new-sticker" />
    <a>
      <img
        src="assets/img/product_sample.png"
        alt="product img"
        class="product-image"
      />
    </a>
    <div class="caption">
      <h5>Product name</h5>
      <div>
        <a class="btn btn-wood">VIEW</a>
        <span> $999 </span>
      </div>
    </div>
  </div>
</li> -->
