.product-gallery {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.main-image {
  width: 100%;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: #f5f1e1;
}

.thumbnails a {
  display: flex;
  border: 1px solid #bbb;
  padding: 5px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s;
}

.thumbnails a:hover {
  border-color: #388e3c;
  background-color: #eee;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnails img:hover {
  transform: scale(1.1);
}
