<!-- <ng-container *ngIf="pageInfo && pageInfo.totalPages > 0">
  <div class="custom-pagination">
    <ul class="pagination-list">
      <li><a class="pagination-arrow" (click)="previousPage()">&lsaquo;</a></li>
      <li *ngFor="let page of [].constructor(pageInfo.totalPages); let i  = index">
        <a *ngIf="i === pageInfo.number" class="pagination-item active">{{i + 1}}</a>
        <a (click)="onPageHandle(i)" *ngIf="i !== pageInfo.number" class="pagination-item">{{i}}</a>
      </li>
      <li><a (click)="nextPage()" class="pagination-arrow">&rsaquo;</a></li>
    </ul>
  </div>
  <br class="clr"/>
</ng-container> -->

<div class="custom-pagination">
  <ul class="pagination-list">
    <li><a class="pagination-arrow">&lsaquo;</a></li>
    <li><a class="pagination-item active">1</a></li>
    <li><a class="pagination-item">2</a></li>
    <li><a class="pagination-item">3</a></li>
    <li><a class="pagination-item">4</a></li>
    <li><a class="pagination-item">5</a></li>
    <li><a class="pagination-item">6</a></li>
    <li><a class="pagination-item">7</a></li>
    <li><a class="pagination-item">8</a></li>
    <li><a class="pagination-item">9</a></li>
    <li><a class="pagination-arrow">&rsaquo;</a></li>
  </ul>
</div>
