<div id="footerSection" class="footer-section">
  <div class="container">
    <div class="row footer-row">
      <div class="footer-column">
        <h5 class="footer-heading">ACCOUNT</h5>
        <a href="#" class="footer-link">YOUR ACCOUNT</a>
        <a href="#" class="footer-link">PERSONAL INFORMATION</a>
        <a href="#" class="footer-link">ADDRESSES</a>
        <a href="#" class="footer-link">DISCOUNT</a>
        <a href="#" class="footer-link">ORDER HISTORY</a>
      </div>
      <div class="footer-column">
        <h5 class="footer-heading">INFORMATION</h5>
        <a href="#" class="footer-link">CONTACT</a>
        <a href="#" class="footer-link">REGISTRATION</a>
        <a href="#" class="footer-link">LEGAL NOTICE</a>
        <a href="#" class="footer-link">TERMS AND CONDITIONS</a>
        <a href="#" class="footer-link">FAQ</a>
      </div>
      <div class="footer-column">
        <h5 class="footer-heading">OUR OFFERS</h5>
        <a href="#" class="footer-link">NEW PRODUCTS</a>
        <a href="#" class="footer-link">TOP SELLERS</a>
        <a href="#" class="footer-link">MANUFACTURERS</a>
        <a href="#" class="footer-link">SUPPLIERS</a>
      </div>
      <div id="socialMedia" class="footer-social-media">
        <h5 class="footer-heading">SOCIAL MEDIA</h5>
        <div style="display: flex; gap: 10px">
          <a href="#" class="footer-social-link"
            ><img
              src="assets/img/Facebook.svg"
              title="facebook"
              alt="facebook"
              class="footer-social-icon"
          /></a>
          <a href="#" class="footer-social-link"
            ><img
              src="assets/img/twitter.svg"
              title="twitter"
              alt="twitter"
              class="footer-social-icon"
          /></a>
          <a href="#" class="footer-social-link"
            ><img
              src="assets/img/Instagram.svg"
              title="youtube"
              alt="youtube"
              class="footer-social-icon"
          /></a>
        </div>
      </div>
    </div>
    <p class="pull-right footer-copyright">&copy; Bootshop</p>
  </div>
</div>
