<li class="product-item">
  <div>
    <a (click)="onProductItem()"><img src="{{product.productImagesBas64[0]}}" alt="product img" class="product-image"/></a>
    <div class="product-caption">
      <h5 class="product-name">{{product.name}}</h5>
      <div class="product-price-container">
        <ng-container *ngIf="secService.hasRoleIn(['ADMIN'])">
          <a (click)="deleteProduct()" class="btn-remove">
            <img src="assets/img/trash.svg" alt="trash icon"/>
          </a>
        </ng-container>
        <a class="btn" class="btn btn-add-to-cart" (click)="addProductToCart()">
            <span>Add to Cart</span>
        </a>
          <span class="btn btn-price">
          {{product.productPrice.symbol}}{{product.productPrice.price}}
          </span>
      </div>
    </div>
  </div>
</li>

<!-- <li class="product-item">
  <div>
    <a
      ><img
        class="product-image"
        src="assets/img/product_sample.png"
        alt="product img"
    /></a>
    <div class="product-caption">
      <h5 class="product-name">Product name</h5>
      <div class="product-price-container">
        <a class="btn-remove"
          ><img src="assets/img/trash.svg" alt="trash icon"
        /></a>
        <a class="btn btn-add-to-cart">
          <span>Add to Cart</span>
        </a>
        <span class="btn btn-price">$228</span>
      </div>
    </div>
  </div>
</li> -->
