.latest-products {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.latest-products-title {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.latest-products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
