<!-- <div class="latest-products">
  <h4 class="latest-products-title">Latest Products </h4>
  <ul class="latest-products-list" >
    <ng-container *ngFor="let product of products">
       <app-single-product [product]="product"></app-single-product>
    </ng-container>
  </ul>
</div> -->

<div class="latest-products">
  <h4 class="latest-products-title">Latest Products</h4>
  <ul class="latest-products-list">
    <app-single-product></app-single-product>
    <app-single-product></app-single-product>
    <app-single-product></app-single-product>
    <app-single-product></app-single-product>
    <app-single-product></app-single-product>
    <app-single-product></app-single-product>
  </ul>
</div>
