<!-- <div>
  <ul class="custom-breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Products</li>
  </ul>
  
  <div class="page-title-container">
    <h3 class="page-title">Searched Products</h3>
    <small class="product-count"> {{productsNumber}} products are available</small></div>
  <hr class="custom-hr" />
  
  <form >
    <div class="form-group">
      <label class="sort-label">Sort By </label>
      <select class="sort-select">
        <option>Product name A - Z</option>
        <option>Product name Z - A</option>
        <option>Product Stoke</option>
        <option>Product Lowest price first</option>
      </select>
    </div>
  </form>
</div> -->

<div>
  <ul class="custom-breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Products</li>
  </ul>

  <div class="page-title-container">
    <h3 class="page-title">Searched Products</h3>
    <small class="product-count"> 10 products are available </small>
  </div>
  <hr class="custom-hr" />

  <form>
    <div class="form-group">
      <label class="sort-label">Sort By </label>
      <select class="sort-select">
        <option>Product name A - Z</option>
        <option>Product name Z - A</option>
        <option>Product Stock</option>
        <option>Product Lowest price first</option>
      </select>
    </div>
  </form>
</div>
